@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Sorts+Mill+Goudy:ital@1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  color: aliceblue;
  background-image: url(./imgntfl.jpg);
}

#container {
  max-width: 1240px;
  /* height: 1036px; */
  background-color: rgba(0, 0, 0, 0.3);
  margin: auto;
  margin-top: 30px;
}

#title {
  font-size: 3.1rem;
  color: red;
  /* letter-spacing: 0.05em; */
}

#description {
  font-family: "Sorts Mill Goudy", serif;
}

#header {
  text-align: center;
}

textarea {
  resize: none;
}

#survey-form-container {
  width: 500px;
  background-color: black;
  opacity: 0.8;
  margin: auto;
  padding: 30px 40px;
}

#name,
#age,
#email,
#dropdown,
#feedback {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

.input-box {
  margin-top: 10px;
}

#radio,
#checkbox {
  margin-top: 30px;
}

#form-button {
  width: 160px;
  height: 45px;
  background-color: red;
  color: aliceblue;
  border: none;
  border-radius: 50px;
}

.form-submit {
  text-align: center;
  margin-top: 10px;
}
